.spinner-border {
  height: 1em !important;
  width: 1em !important;
}

.soda-scs-component-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.soda-scs-component-form .form-actions {
  width: 100%;
}

.soda-scs-component-form .form-actions .button {
  height: 10vh;
  width: 100%;
}

.soda-scs-manager--bundle--card {
  background: aliceblue;
  border-radius: 1rem;
}

.soda-scs-manager--img--thumbnail {
  width: 100px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
}
