{#
/**
 * @file
 * Default theme implementation for SODa SCS Manager tour page.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('soda-scs-manager--documentation-page') }}>
  <h1>Documentation</h1>
</div>
