/* Base styles */
/* These styles target HTML elements directly and provide default styling */

@layer base {
  @import './colors.pcss';
  @import './fonts.pcss';

  body {
    @apply bg-stone-950 text-stone-200;
  }

  input {
    @apply border border-stone-200;
  }
}
