<div class="soda-scs-manager--bundle--card p-2 col-md-3 d-flex align-items-center flex-column">
  <div class="d-flex justify-content-center align-items-center" style="width: 200px; height: 200px; overflow: hidden;">
      <img src="{{ file_url(image_url) }}" class="card-img-top img-fluid" alt="{{ alt }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
  </div>
  <div class="p-1 d-flex flex-column align-items-center">
    <h5 class="p-1 card-title">{{ title }}</h5>
    <a href="{{ url }}" class="btn btn-primary m-0">MORE INFO</a>
  </div>
</div>
