<div class="container soda-scs-manager--components-store--grid">
  {% if components is not empty %}
      <h2>Components of User {{ username }}</h2>
      <div class="d-flex">
        {% for component in components %}
          {% include 'component-card.html.twig' with {component: component} %}
        {% endfor %}
      </div>
  {% else %}
    <p>No components found.</p>
  {% endif %}
</div>
