<div class="container soda-scs-manager--view--grid">
  {% if componentsByUser is not empty %}
    {% for username, components in componentsByUser %}
      <h2>Components of User {{ username }}</h2>
      <div class="d-flex">
        {% for component in components %}
          {{ component }}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p>No components found.</p>
  {% endif %}
</div>
