{# File: templates/traffic_light.html.twig #}
<div class="soda-scs-manager--component-status--status">
  <div class="soda-scs-manager--component-status--online"></div>
  <div class="soda-scs-manager--component-status--changing"></div>
  <div class="soda-scs-manager--component-status--offline"></div>
  <div class="soda-scs-manager--component-status--unknown"></div>
</div>
<div class="soda-scs-manager--component-status--controls">
  <button class="btn start">Start</button>
  <button class="btn stop">Stop</button>
  <button class="btn restart">Restart</button>
</div>
