<div>
  {% if componentsByUser is not empty %}
    {% for username, components in componentsByUser %}
      <h2>Components of User {{ username }}</h2>
      <div class="d-flex">
        {% for component in components %}
          {% include 'component-card.html.twig' with {component: component} %}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p>No components found.</p>
  {% endif %}
</div>
