{% set entity_type = entity_type|replace({'soda_scs_': ''}) %}
<div>
  {% if entitiesByUser is not empty %}
    {% for username, entities in entitiesByUser %}
      <h2>{{ entity_type }}s of User {{ username }}</h2>
      <div class="d-flex">
        {% for entity in entities %}
          {% include 'soda-scs-manager--entity-card.html.twig' with {entity: entity, entity_type: entity_type} %}
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p>No {{ entity_type}}s found.</p>
  {% endif %}
</div>
