  {% if components %}
    <div {{ attributes }}>
      {% for component in components %}

          {{ component }}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info">
      {{ 'No components available.'|t }}
    </div>
  {% endif %}
