<div>
  <p>Hi {{ personName }},</p>
  <p>Thank you for registering to our site.</p>
  <p>Please validate your account by clicking on this
  <a href="{{ validationLink }}" target="_blank">link</a> or copy this to the address bar of your browser:
  </p>
  <p>{{ validationLink }}</p>
  <p>You have 24 hours to validate your account.</p>
</div>

