<div>
  <div>
    <h1>
      Servicebedingungen für WissKI Cloud</h1>
    <h2>
      Akzeptanz der Bedingungen</h2>
    </h2>
    <p>
      DIESE SERVICEBEDINGUNGEN FÜR WissKI Cloud ("SERVICEBEDINGUNGEN" ODER
      "BEDINGUNGEN") STELLEN EINEN FÜR SIE VERBINDLICHEN VERTRAG DAR UND REGELN
      IHRE NUTZUNG UND DEN ZUGANG ZU DEN DIENSTE DURCH SIE, VERTRETER UND
      ENDNUTZER IN VERBINDUNG MIT DEM ZUGANG ZU UNSERER KOSTENLOSEN VERSION DER
      WISSKI CLOUD, DIE UNSERE HOSTING-UMGEBUNG FÜR ENTWICKLER IST ("WISSKI
      CLOUD
      FREE" ODER DIE "DIENSTE").
    <p>
    <p>
      Durch die Annahme dieser Bedingungen, entweder durch den Zugriff auf oder
      die Nutzung der Dienste, oder durch die Autorisierung oder Erlaubnis eines
      Agenten oder Endnutzer auf die Dienste zugreifen oder diese nutzen,
      erklären
      Sie sich mit diesen Bedingungen einverstanden. Wenn Sie diesen Bedingungen
      zustimmen Bedingungen im Namen eines Unternehmens, einer Organisation oder
      einer anderen juristischen Person (ein "Rechtsträger"), stimmen Sie diesen
      Bedingungen für diesen Rechtsträger zu.
    <p>
      Sie erklären sich mit diesen Bedingungen für diese Einheit einverstanden
      und
      versichern dem IGSD e. V., dass Sie befugt sind, diese Einheit und ihre
      verbundenen Unternehmen an diese Bedingungen zu binden, in diesem Fall
      beziehen sich die Begriffe "Abonnent", "Sie", "Ihr" oder ein
      ähnlicher Begriff in Großbuchstaben auf diese juristische Person und seine
      verbundenen Unternehmen. Wenn Sie nicht über eine solche Befugnis
      verfügen oder wenn Sie mit diesen Bedingungen nicht einverstanden sind,
      dürfen Sie diese Bedingungen nicht akzeptieren
      diese Bedingungen nicht akzeptieren und dürfen die Dienste nicht nutzen.
      Diese Bedingungen oder ein Teil davon können von uns geändert werden,
      einschließlich der jederzeit geändert werden, einschließlich der
      Hinzufügung
      oder Streichung von Bedingungen, und solche Änderungen, Hinzufügungen oder
      Streichungen werden sofort nach der Veröffentlichung wirksam. Ihre Nutzung
      der Dienste nach einer
      solchen Veröffentlichung gilt als Annahme dieser Änderungen, Ergänzungen
      oder Streichungen durch Sie.
    </p>
  </div>
  <div>
    <h2>
      Die Dienste
    </h2>
    <p>
      Wir stellen Ihnen den Zugang zu den Diensten gemäß den vorliegenden
      Bedingungen zur Verfügung. Die Dienste sind nur begrenzt verfügbar und
      werden "wie besehen" ohne jegliche Garantie bereitgestellt. Wir bieten
      keine Unterstützung bei der Migration von Daten von der WissKI Cloud.
      Sie erhalten keinen Objekt- oder Quellcode im Zusammenhang mit den
      Services. Der IGSD e. V., seine Lizenzgeber und seine Dienstleister
      besitzen und behalten sich alle Rechte, Titel und Interessen an den
      Services vor, einschließlich aller damit verbundenen Rechte an geistigem
      Eigentum. Vorbehaltlich der beschränkten Rechte, die Ihnen ausdrücklich
      gewährt werden, werden Ihnen
      keine Rechte an den Dienstleistungen gewährt.
    </p>
    <p>
      WisKI Cloud Free ist nicht für Produktionsseiten geeignet, hat keine
      Produktionsumgebung, bietet begrenzten Speicherplatz (1000 MB für Codebase,
      Drupal-Datenbank, Triple-Store und Dateisystem) und erlaubt keine
      benutzerdefinierten Domains. WissKI Cloud
      Free ist eine gemeinsam genutzte Entwicklungsumgebung, die nur für Tests
      und Entwicklungsaktivitäten mit geringen Auswirkungen
      Aktivitäten. Sollte sich Ihre Nutzung der gemeinsamen Entwicklungsumgebung
      negativ auf die Serverleistung auswirken oder sollten Sie regelmäßig eine
      unserer Meinung nach übermäßige gemeinsame Serverkapazität (CPU, Speicher,
      Festplatte, PHP Prozesse), kann Ihr Zugang zu WissKI Cloud gekündigt
      werden. Wir können die Dienste jederzeit ohne Haftung nach jederzeit nach
      unserem alleinigen Ermessen einstellen. Wir können Sie im Voraus über eine
      solche Aussetzung informieren, aber Sie erkennen an, dass wir dazu nicht
      verpflichtet sind. Wir können Ihre Nutzung der Dienste sofort aussetzen,
      wenn Sie gegen diese Bedingungen verstoßen.
    </p>
    <p>
      Wir werden im Rahmen der Dienste keine Datensicherung durchführen und
      Ihnen während der Nutzung der WissKI Cloud keinen Support bieten. Wir
      lehnen alle Garantien jeglicher Art ab, ob ausdrücklich oder
      stillschweigend, gesetzlich oder anderweitig, und der IGSD e. V. schließt
      hiermit alle stillschweigenden Garantien und Bedingungen ab,
      einschließlich, aber nicht beschränkt auf stillschweigende Garantien der
      Marktgängigkeit, Eignung für einen bestimmten Zweck und Nichtverletzung
      von Rechten Dritter. Wir versprechen nicht, dass (i) die Nutzung der
      Dienste (i) die Nutzung der Dienste ununterbrochen, fehlerfrei oder
      vollständig sicher ist, oder (ii) die Dienste Ihre Anforderungen oder
      Erwartungen erfüllen werden.
    </p>
    <p>
    <div>
      <h2>Unsere Verpflichtungen</h2>
      Sie werden keine Lasttests oder Schwachstellentests auf Websites
      durchführen, die auf WissKI Cloud gehostet werden. Sie müssen die für
      die Nutzung der Dienste geltenden Gesetze und die
      WissKI-Cloud-Datenschutzrichtlinien einhalten, die Sie unter unserer
      <a href="https://www.igsd-ev.de/impressum" target="_blank">Datenschutzrichtlinie</a> finden.
      Sie müssen bei der Untersuchung von Ausfällen der Dienste, Sicherheitsproblemen
      und mutmaßlichen Verstößen gegen diese Bedingungen kooperieren. Sie müssen uns genaue
      Informationen zur Verfügung stellen, einschließlich, aber nicht beschränkt auf,
      Kontoberechtigungen, Abrechnungs- und andere Kontoinformationen
      Informationen, falls dies zutrifft.
      Sie dürfen anderen nicht erlauben oder dabei helfen, auf die Dienste
      zuzugreifen oder sie für andere Zwecke zu nutzen als für die Ausführung
      der Dienste für interne Demonstrationszwecke. Sie sind nicht berechtigt,
      die Dienste zu kopieren oder zu verbreiten. Sie dürfen die Dienste nicht
      nutzen, um andere Dienstleistungen für Dritte zu erbringen oder Dienste
      selbst weiterverkaufen.
      </p>
      <p>
        Sie müssen angemessene Sicherheitsvorkehrungen in Verbindung mit Ihrer
        Nutzung der Dienste treffen. Für die Dienste bedeutet dies
        die Verschlüsselung von PII, die an oder von den Diensten übertragen
        werden. Sie dürfen weder direkt noch indirekt (i) ein Reverse
        Engineering dekompilieren, disassemblieren oder anderweitig versuchen,
        den Quellcode oder die zugrunde liegenden Ideen oder Algorithmen
        Algorithmen der Dienste herauszufinden; (ii) die Dienste zu
        modifizieren, zu übersetzen oder davon abgeleitete Werke zu erstellen;
        (iii) (iii) die Dienste zu vermieten, zu verleasen, zu vertreiben, zu
        verkaufen, weiterzuverkaufen, abzutreten oder anderweitig Rechte an den
        Diensten zu übertragen; (iv) die Dienste für Timesharing- oder (v)
        Urheberrechte, Warenzeichen oder andere Eigentumsrechte zu ändern, zu
        entfernen oder zu verbergen Vermerke (vi) ohne vorherige schriftliche
        Zustimmung von Acquia eine Bewertung der Dienste zu veröffentlichen oder
        an Dritte weiterzugeben (vii) die Dienstleistungen zu nutzen, um ein
        konkurrierendes Produkt oder eine konkurrierende Dienstleistung zu
        erstellen, oder (viii) irgendwelche Funktionen oder Grafiken der
        Dienstleistungen zu kopieren, Funktionen oder Grafiken der Dienste zu
        kopieren.
      </p>
      <p>
        Sie dürfen sich nicht mit E-Mail-Adressen von Anbietern von
        Wegwerf-E-Mail-Adressen für die Dienste registrieren, wie z. B.
        mailinator.com, 10minuteemail.com, guerillamail.com, yotmail.com,
        tempinbo.com und instantemail.com. Sie verpflichten sich, alle geltenden
        Gesetze, Regeln und Vorschriften, einschließlich des CAN-SPAM Act,
        einzuhalten.
      </p>
    </div>
    <div>
      <h2>Ihre Rechte an Ihrem Website-Inhalt</h2>
      <p>
      Sie versichern uns, dass Sie über alle erforderlichen Rechte an Ihren
        Inhalten (wie hierin definiert) verfügen, die Ihnen die Nutzung
        ermöglichen Dienste, ohne die Rechte von Urheberrechtsinhabern zu
        verletzen, gegen geltende Gesetze zu verstoßen oder gegen die
        Bedingungen zu verstoßen jeglicher Lizenz oder Vereinbarung, an die Sie
        gebunden sind. „Inhalt“ bezeichnet alle Daten, Aufzeichnungen, Dateien,
        Bilder, Grafiken, Audio, Video, Fotos, Berichte, Formulare und andere
        Inhalte und Materialien in jedem Format, die übermittelt, gespeichert,
        von Ihnen mit den Diensten gepostet, angezeigt, übertragen oder
        anderweitig genutzt werden. Sie behalten das Eigentum an allen Rechten,
        Titeln und Interesse an und für alle Ihre Inhalte. Sie erteilen uns die
        Erlaubnis, Ihre Website zu hosten, und gewähren uns das Zugriffsrecht,
        Ihre Inhalte ausschließlich zum Zweck der Bereitstellung von Diensten
        aufzubewahren, zu nutzen und offenzulegen. Diese Berechtigung besteht
        nur für solange Sie die Dienste weiterhin nutzen.</p>
      <h2>Unbefugter Zugriff auf Ihre Inhalte oder Nutzung der Dienste</h2>
      <p>
      Wir haften Ihnen oder Dritten gegenüber nicht für den unbefugten
        Zugriff auf Ihre Inhalte oder deren unbefugte Nutzung
        Die Dienste. Sie sind für die Nutzung der Dienste durch jeden Ihrer
        Mitarbeiter und alle von Ihnen autorisierten Personen verantwortlich
        die Dienste nutzen, jede Person, der Sie Zugriff auf die Dienste gewährt
        haben, und jede Person, die Zugriff darauf erhält
        Ihr Inhalt oder die Dienste aufgrund Ihres Versäumnisses, angemessene
        Sicherheitsvorkehrungen zu treffen, selbst wenn dies der Fall wäre
        nicht von Ihnen autorisiert.</p>
    </div>
    <div>
      <h2>Urheberrechtsgesetz</h2>
      <p>
        Wir achten die geistigen Eigentumsrechte anderer und erwarten dasselbe von Ihnen.
        Wir werden auf Benachrichtigungen bezüglich Urheberrechtsverletzungen gemäß dem
        "Gesetz über Urheberrecht und verwandte Schutzrechte" (Urheberrechtsgesetz – UrhG)
        reagieren. Unsere Reaktion darauf kann das Entfernen oder Sperren des Zugriffs auf
        mutmaßlich rechtsverletzende Inhalte sowie die Sperrung Ihres Zugriffs auf unsere
        Dienste beinhalten, wenn wir keine zufriedenstellende Antwort von Ihnen erhalten,
        nachdem eine Verstoßmitteilung eingegangen ist.</p>
        <p>
        Wenn Sie der Ansicht sind, dass Inhalte in unseren Diensten das Urheberrecht verletzen,
        sind Sie (die „meldende Partei“) aufgefordert, eine Mitteilung über eine Urheberrechtsverletzung
        an den benannten Vertreter an folgende Adresse zu senden: (a) Beschreibung des urheberrechtlich
        geschützten Werks oder Materials, von dem die meldende Partei behauptet, dass es verletzt wird;
        (b) die URL, unter der sich das Material, das angeblich verletzt wird, in unseren Diensten befindet,
        oder eine ausreichend detaillierte Beschreibung des Standorts, damit wir es identifizieren können;
        (c) Kontaktdaten der meldenden Partei, einschließlich Adresse, Telefonnummer und E-Mail-Adresse;
        (d) eine schriftliche Erklärung der meldenden Partei in gutem Glauben, dass die umstrittene Nutzung
        nicht vom Urheberrechtsinhaber, seinem Vertreter oder dem Gesetz genehmigt wurde; (e) eine
        eidesstattliche Erklärung der meldenden Partei, dass die in der Mitteilung gemachten Angaben
        korrekt sind und dass die meldende Partei entweder der Urheberrechtsinhaber ist oder befugt ist,
        die Beschwerde im Namen des Urheberrechtsinhabers einzureichen; und (f) eine elektronische oder
        physische Unterschrift der meldenden Partei.</p>
        <p>Der vom IGSD e. V. benannte Urheberrechtsbeauftragte für den Empfang von Benachrichtigungen
        über behauptete Rechtsverletzungen kann wie folgt erreicht werden:
        <a href="mailto:vorstand@igsd-ev.de">E-Mail an den Vorstand des IGSD e. V</a>. Bitte
        beachten Sie, dass Ihre Mitteilung möglicherweise ungültig ist, wenn Sie nicht alle Anforderungen
        dieses Abschnitts erfüllen. Es kann möglicherweise nicht auf Entfernungsanfragen reagiert werden.
        Beachten Sie auch die Datenschutz-Grundverordnung (DSGVO): <a href="https://dsgvo-gesetz.de/" target="_blank">https://dsgvo-gesetz.de/</a>.</p>
              </p>
    </div>
    <div>
      <h2>Beendigung</h2>
      <p> Wir können diese Vereinbarung jederzeit nach unserem alleinigen
        Ermessen kündigen. Wir werden Sie im Voraus schriftlich darüber informieren In
        diesem Fall veröffentlichen wir dazu entweder eine Mitteilung auf
        unserer Website oder kontaktieren Sie direkt. Nach einer solchen Kündigung haben
        Sie keinen Zugriff mehr auf die Dienste haben und WissKI Cloud alle Inhalte
        löschen wird, die sich in der Umgebung der Dienste befinden. </p>
    </div>
    <div>
      <h2> Vertrauliche Informationen.</h2>
      Jeder von uns verpflichtet sich, die vertraulichen Informationen des
      anderen nicht zu verwenden, es sei denn, dies ist gesetzlich
      vorgeschrieben oder als Reaktion auf eine Vorladung oder anderes rechtliches Verfahren;
      vorausgesetzt, dass jeder von uns zustimmt, den anderen sieben (7) Tage im Voraus zu benachrichtigen
      (sofern gesetzlich zulässig) vor der Offenlegung vertraulicher
      Informationen. Wir können Ihre Registrierungsinformationen verwenden, um
      um Sie zu Marketingzwecken zu kontaktieren.
    </div>
    <div>
      <h2>Schadensersatz</h2>
      <p>
        Sie erklären sich damit einverstanden, uns und dem IGSD e. V., seinem Vorstand,
        Vertreter, Mitgliedern, Partnern usw. zu entschädigen und zu entschädigen
        Mitarbeitern von jeglichen Ansprüchen oder Forderungen freizustellen
        (einschließlich angemessener Anwaltskosten und etwaiger
        Schadensersatzansprüche, Bußgelder oder ein anderer uns auferlegter Betrag), der von Dritten aufgrund oder
        im Zusammenhang mit Ihren Inhalten oder einer unangemessenen Nutzung
        erhoben wird der Dienste, Verletzung dieser Bedingungen, Ihre grobe
        Fahrlässigkeit oder Ihr vorsätzliches Fehlverhalten oder Gesetzesverstoß
        oder Verstoß jeglicher Rechte eines anderen. Zu Ihren Pflichten gemäß
        diesem Unterabschnitt gehören Ansprüche, die sich aus den Handlungen
        oder Unterlassungen ergeben Ihrer Mitarbeiter und Vertreter, jeder
        anderen Person, der Sie Zugang zu den Diensten gewährt haben, und jeder
        anderen Person Wer Zugriff auf die Dienste erhält, weil Sie es versäumt
        haben, angemessene Sicherheitsvorkehrungen zu treffen, selbst wenn die
        Handlungen oder Unterlassungen dieser Personen wurden nicht von Ihnen
        genehmigt. Wenn Sie die Dienste weiterverkaufen, gilt der Grund für die
        Entschädigung.
      </p>
      <p>
        Die oben genannten Ansprüche umfassen auch alle Ansprüche Ihrer Kunden
        oder Endbenutzer, die sich aus Ihrem Weiterverkauf des Produkts ergeben
        Dienstleistungen. Wir werden einen Rechtsbeistand zur Verteidigung des
        Anspruchs beauftragen, vorausgesetzt, dass diese Entscheidungen
        angemessen sind und müssen Ihnen umgehend mitgeteilt werden. Sie müssen
        unseren angemessenen Bitten um Unterstützung nachkommen und
        Zusammenarbeit bei der Verteidigung des Anspruchs. Sie müssen die gemäß
        diesem Abschnitt fälligen Kosten bezahlen, sobald sie uns entstehen.</p>
    </div>
    <h2>Haftungsbeschränkung</h2>
    <p>
      Wir haften Ihnen gegenüber nicht für besondere, indirekte, zufällige,
      folgenreiche, strafende, vorbildliche oder ähnliche Schäden
      Schäden, einschließlich, aber nicht beschränkt auf entgangene Einnahmen
      oder Gewinne, die sich in irgendeiner Weise aus diesen Bedingungen ergeben
      oder damit in Zusammenhang stehen
      auch wenn wir auf die Möglichkeit solcher Schäden hingewiesen wurden. Wir
      haften Ihnen gegenüber nicht für verlorene Inhalte.</p>
  </div>
  <div>
    <h2>
      Untersagte Gruppen, Export</h2>
    <p>
      Sie versichern und gewährleisten, dass Sie nicht in Bundeswehr, anderen explizit
      sicherheitsbezogenen oder sensiblen gesellschaftlichen, wirtschaftlichen oder
      politischen Unternehmen oder Organisationen tätig sind (kritische Infrastruktur,
      Staatsfinanzen, entsprechende Bereiche der Politik, gesichert links- oder rechtsextreme bzw.
      verbotene oder vom Verfassungsschutz überwachte Vereinigungen). Sie
      erklären sich damit einverstanden, alle geltenden Gesetze in Bezug auf das
      einzuhalten Übermittlung technischer Daten, die aus Deutschland oder dem Land,
      in dem Sie wohnen, exportiert werden. Du erkennen
      an, dass die Dienste möglicherweise den deutschen Exportkontroll-
      und Sanktionsgesetzen (einschließlich der Exportgesetze) unterliegen
      Verwaltungsvorschriften („Exportkontrollen“) und dass Sie alle geltenden
      Exportkontrollen einhalten.
    </p>
  </div>
  <div>
    <h2>Definitionen</h2>
    <p>
      „Vertrauliche Informationen“ sind alle Informationen, die einer der
      Vertragspartner dem anderen gegenüber offenlegt, sei es vor oder nach dem
      Annahme dieser Bedingungen, die der Empfänger vernünftigerweise als
      vertraulich betrachten sollte, einschließlich: (i) für Sie alle
      Informationen, die an oder von den Diensten übermittelt oder darin
      gespeichert werden, (ii) für den IGSD e. V. unveröffentlichte Preise und
      andere Nutzungsbedingungen, Audit- und Sicherheitsberichte,
      Produktentwicklungspläne und andere geschützte Informationen oder
      Technologie und (iii) für beide Vertragspartner Informationen, die als
      vertraulich gekennzeichnet oder anderweitig auffällig gekennzeichnet sind.
      Dazu zählen auch Informationen, die von einem Vertragspartner unabhängig
      generiert wurden. Informationen, ohne einen Bezug auf die Vertraulichkeit
      des anderen, oder Informatioenn, die von einem Vertragspartner durch eine
      Verletzung einer Vereinbarung oder eines Gesetzes entstanden sind, stellen
      keine „vertraulichen Informationen“ der anderen Partei dar. „PII“
      bedeutet: (i) eine Kombination beliebiger Informationen mit denen eine
      Person anhand von sensiblen und nicht öffentlichen Finanz-, Gesundheits-
      oder anderen Daten identifiziert werden kann; oder ein Attribut,
      beispielsweise eine Kombination aus dem Namen, der Adresse oder der
      Telefonnummer der Person mit den sozialen Netzwerken der Person,
      Identifikationsnummer oder eine andere von der Regierung ausgestellte
      Nummer, Finanzkontonummer, Geburtsdatum, Adresse, biometrische Daten, der
      Mädchenname der Mutter oder andere persönlich identifizierbare
      Informationen identifiziert werden kann bzw. "personenbezogene Daten" wie
      in Art 4 des DSGVO definiert.
    </p>
  </div>
  <div>
    <h2>Allgemeines</h2>
    <p>
      Sie dürfen diese Bedingungen nicht an eine andere Partei abtreten. Diese
      Bedingungen unterliegen den Gesetzen des Commonwealth of Massachusetts
      ohne Rücksicht auf seine Kollisionsrechtsbestimmungen. Im
      Falle von Streitigkeiten oder Ansprüchen, die sich daraus ergeben
      Massachusetts ohne Rücksicht auf seine Kollisionsrechtsbestimmungen. Im
      Falle von Streitigkeiten oder Ansprüchen, die sich daraus ergeben
      Kann diese Vereinbarung nicht innerhalb von dreißig (30) Tagen gelöst
      werden, kann jede Partei einen schriftlichen Antrag innerhalb eines Tages
      stellen Mediation. Wenn der Streit nicht durch Mediation gelöst werden
      kann, wird
      der Streit durch ein verbindliches Schiedsverfahren beigelegt werden.
      Der Schiedsrichter wird gemäß den
      Bestimmungen eines vereinbahrten Schiedsverfahrens ausgewählt
      Der oder die Schiedsrichter*in darf keine nichtmonetäre oder
      billigkeitsrechtliche Entschädigung jeglicher Art gewähren. Alle Aspekte des
      Schiedsverfahrens werden vertraulich behandelt und von keiner der Parteien offengelegt, es sei denn, dies ist zur
      Einhaltung gesetzlicher oder behördlicher Anforderungen erforderlich.
      Das Urteil über den Schiedsspruch kann durch jedes zuständige ordentliche Gericht
      entkräftet werden. Jede Partei trägt ihre eigenen
      Kosten des Schiedsverfahrens. Die Honorare und Auslagen des Mediators und
      des Schiedsrichters werden zu gleichen Teilen getragen.
      Sollte sich herausstellen, dass ein Teil dieser Bedingungen
      ungültig oder nicht durchsetzbar ist, wird dieser Teil durchgesetzt
      soweit gesetzlich zulässig, und der Rest dieser Bedingungen bleibt in
      vollem Umfang in Kraft. Nichts enthalten
      hierin gilt als Gründung einer Agentur, Partnerschaft oder einer anderen
      Form eines gemeinsamen Unternehmens zwischen den Parteien.
      Sie erklären sich damit einverstanden, dass unabhängig von gegenteiligen
      Gesetzen oder Gesetzen alle Ansprüche oder Klagegründe, die sich aus oder
      im Zusammenhang damit ergeben, ausgeschlossen sind
      auf die Nutzung unserer Dienste oder dieser Bedingungen müssen innerhalb
      eines (1) Jahres nach Entstehung eines solchen Anspruchs oder Klagegrundes
      eingereicht werden oder für immer ausgeschlossen sein. Die Ansprüche
      mehrerer Personen können in
      keinem Fall in irgendeiner Form durch
      ein Sammel- oder Vertretungsverfahren oder ähnliches zusammengelegt werden.
    </p>
    <p>
      Sollte sich herausstellen, dass ein Teil dieser Bedingungen von einem
      Gericht nicht durchsetzbar ist, bleibt der Rest dieser Bedingungen dennoch
      bestehen Wirkung, und der nicht durchsetzbare Teil wird so weit wie
      möglich
      umgestaltet, um ihn durchsetzbar, aber dennoch konsistent zu machen
      mit den geschäftlichen und finanziellen Zielen der Parteien, die diesen
      Bedingungen zugrunde liegen. Jeder von uns kann jeden von uns durchsetzen
      unsere jeweiligen Rechte aus diesen Bedingungen auch dann, wenn wir auf
      dieses Recht verzichtet haben oder es versäumt haben, dasselbe oder das
      andere durchzusetzen Rechte in der Vergangenheit. Die Beziehung zwischen
      uns ist die eines
      unabhängigen Auftragnehmers und nicht eines Geschäftspartners. Weder
      Einer von uns ist der Vertreter des anderen und keiner von uns hat das
      Recht, den anderen im Rahmen einer Vereinbarung mit einem Dritten zu
      binden. Diese Bedingungen stellen die einzige Vereinbarung zwischen Ihnen
      und IGSD e. V. bezüglich WissKI Cloud dar.
    </p>
  </div>
  <p>Nürnberg, {{ date }}</p>
</div>
