@layer components {
  .field--type-text-long {
    font-family: "metropolis", sans-serif;
    font-feature-settings: normal;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: normal;
    hyphens: auto;
  }

}
