@layer components {
 /* Icons */
.soda-scs-manager--icon-wrapper {
    @apply w-12 h-12 flex items-center justify-center text-orange-400;

  }

  .soda-scs-manager--icon-wrapper svg {
    @apply w-10 h-10;
  }

  /* Images */
  .soda-scs-manager--image-wrapper {
    @apply w-[200px] h-[200px] flex items-center justify-center;
    img {
      @apply w-full h-full object-cover;
    }
  }
}
