@layer components {
  a {
    outline: none !important;
    &:focus {
      @apply outline-none focus:outline-none;
    }
    &:hover {
      @apply outline-none focus:outline-none;
    }
  }
  .soda-scs-manager--card-link {
    @apply absolute inset-0;
  }
}
