/* Sidebar Components */
/* These styles define sidebar navigation elements */


@utility soda-sidebar-nav {
  @apply h-full w-16 sticky top-0;
}

@utility soda-sidebar-nav--nav-item {
  @apply w-16 h-16 flex items-center justify-center;
}

@utility soda-sidebar-nav--nav-item--svg {
  @apply w-8 h-8 min-w-8 min-h-8 block;
}

@utility soda-sidebar-nav--nav-item--svg--cyan {
    @apply text-cyan-500;
}

@utility soda-scs-manager--sidebar--navigation {
  @apply mt-16 border-none;
}
