/* Version Info Component. */

@layer components {
  .soda-scs-manager__version-info {
    @apply mb-6 p-4 bg-white rounded-lg border-2 border-stone-200;
    @apply shadow-sm w-full;
  }

  .soda-scs-manager__version-info__label {
    @apply text-sm font-medium text-stone-600 mb-1;
  }

  .soda-scs-manager__version-info__value {
    @apply text-xl font-semibold text-orange-400;
  }
}
